$docs: #4883ca;
$docs-light: #c2e6fc;

$sheets: #00a14e;
$sheets-light: #c7edd3;

$photos: #e8414c;
$photos-light: #ffd9d1;

$marks: #b749c9;
$marks-light: #fcd4fb;

$white: #ffffff;
$black-high: #2a3030;
$black-medium: #646b6b;
$black-low: #959e9e;
$black-overlay-24: #bac2c2;
$black-overlay-12: #dae0e0;
$black-overlay-8: #e6ebeb;
$black-overlay-4: #f0f5f5;
$black-overlay-2: #f8fafa;

$docs-link-hover: #8eb2de;
$docs-link-press: #7593b5;

$sheets-link-hover: #5fc591;
$sheets-link-press: #448464;

$photos-link-hover: #ef8990;
$photos-link-press: #9d5f63;

$marks-link-hover: #d08edd;
$marks-link-press: #8a6293;